/*------------------Edits-----------------*/
           
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: #ffffff; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgb(255, 255, 255); 
  }

  .THE-BODY-CONTENT {
    position: relative;
    z-index: 1;
    margin-top: 40px;
    margin-left: 20px;
}

* {
	font-family: sans-serif;
    padding: 0;
    margin: 0;
}

/*------------------Content-----------------*/

main {
    
    width: 100%;
    background: white;
    width: 100%;
    font-family: 'Noto Sans SC', sans-serif;
}

.container {
    padding-inline: 15px;
}

.btn {
	color: hsl(0, 0%, 100%);
	text-transform: uppercase;
	font-family: 'Noto Sans SC', sans-serif;
	border-radius: 20px;
	padding: 8px 18px;
	border:  2px solid transparent;
}

.btn-primary {
	background: #646cd6;
	border-color: 646cd6;
}
		  
.btn-primary:is(:hover, :focus) {
	background: hsl(214, 72%, 33%);
	border-color: hsl(214, 72%, 33%);
}
		   
.btn-secondary:is(:hover, :focus) { background: hsla(0, 5%, 55%, 0.6); }

.h1,
.h2,
.h3 {
	text-transform: uppercase;
}
		  
.h1 {
	color: hsl(0, 0%, 100%);
	font-size: vcalc(20px + 3.5vw);
}

.h2,
.h3 { 
color: hsl(206, 34%, 20%); 
}

.h2 { font-size: calc(18px + 1.6vw); }

.h3 {
font-size: calc(16px + 0.45vw);
font-weight: 700;
}

.section-subtitle {
font-size: 14px;
text-transform: uppercase;
font-family: 'Noto Sans SC', sans-serif;;
margin-bottom: 8px;
}

.section-title { margin-bottom: 15px; }

.section-text {
color: hsl(225, 8%, 42%);
margin-bottom: 30px;
}

.card-text {
color: hsl(225, 8%, 42%);
font-size: 14px;
}
    
 
.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: hsla(0, 0%, 0%, 0.7);
    background-blend-mode: overlay;
    display: grid;
    place-items: center;
    margin: 0;
    min-height: 600px;
    text-align: center;
    padding-top: 125px;
    position: relative; 
}

.hero picture {
    position: relative;
    width: 75%; 
    height: 75%; 
    border-radius: 0; 
    overflow: hidden;
}

.hero picture img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.hero .detail {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%); 
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: none;
}

.hero:hover .detail {
    display: block;
}

		  
.hero-title {
    font-family: "Zilla Slab", serif;
	font-weight: 300;    
	font-size: 68px; 
    color: #ffffff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    animation: fadeIn 1s ease; 
}

.hero-text {
    font-size: 24px !important; 
    margin-bottom: 40px;
	color: #ffffff;
}
 
.btn-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.dropbtn .menu {
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
  }

header {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul li {
    list-style: none;
    padding: 20px;
    margin: 10px;
    float: left;
    font-size: 20px;
    border-radius: 15px;
}


header ul li a {
	color: inherit;
	text-decoration: none;
}

header ul li.active {
	background: linear-gradient(45deg, hsl(208, 97%, 12%), hsl(214, 56%, 58%));;
}

header ul li.active a {
	color: white;
	font-weight: bold;
}

.filter-condition {
    padding: 20px;
    margin-left: 250px;
	align-items: left !important;
    height: 100px;
    font-size: 20px;
    font-weight: bold;

}

.filter-condition select {
	width: 220px;
	padding: 0 0 0 50px;
	border: none;
	outline: none;
	font-weight: bold;
	color: rgb(85, 46, 1);
	background: transparent;
	cursor: pointer;
}
.product-field {
    padding: 40px 20px;
    margin: 0 auto; 
    margin-left: 250px;
}

.product-field ul {
    width: calc(100% - 40px); 
    display: flex;
    flex-wrap: wrap;
}
.product-field ul li {
    list-style: none;
    width: calc(23.4% - 10px); 
    height: 400px;
    background: whitesmoke;
    border-radius: 20px;
    position: relative;
    margin-right: 20px; 
}

.product-field ul li:not(:hover) {
    transition: 0.5s all; 
}

.product-field ul li:last-child {
    margin-right: 0; 
}


picture {
    background: #eee;
    padding: 5px;
    position: relative; 
    width: 110%; 
    height: 85%; 
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0px 1px 0px #00000020, -1px 0px 0px #ccc;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

picture img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    transition: transform 0.3s ease;
}

picture:hover img {
    transform: scale(1.1); 
}

.detail {
    position: absolute;
    bottom: 10px;
    left: 0; 
    width: calc(110% - 20px); 
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: none;
}


picture:hover + .detail {
    display: block; 
}


.detail .icon{
    width: 30%;
    height: 55%;
    padding: 20px 5px;
}
.icon span{
    background: #00000030;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    margin: 0 0 20px 5px;
    font-size: 20px;
    color: white;
}
.icon span:hover{
    background: linear-gradient(45deg, hsl(208, 97%, 12%), hsl(214, 56%, 58%));;
    cursor: pointer;
}
.detail > strong{
    display: inherit;
    margin: 20px;
    font-size: 30px;
    letter-spacing: 2px;
    color: #555;
}
.detail > span{
    display: inherit;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 26;
    padding: 0 20px;
    width: 80%;
}
.detail small{
    display: inline-block;
    padding: 8px 20px;
    margin: 15px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}
.detail small:hover{
        background: linear-gradient(45deg, hsl(208, 97%, 12%), hsl(214, 56%, 58%));;
        color: white;
        border-color: cyan;
}
li h4{
    position: absolute;
    left: 70%;
    font-size: 30px;
    color: #050505;
}

.items li {
    position: relative;
}
header#header h2 {
    margin-left: 20px; 
}

.items li .detail {
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: none;
}

.items li:hover .detail {
    display: block;
}


.footer{
    margin-left: 120px;
}
